.expences-list-item {
    .expences-list-item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        margin-bottom: 12px;
        padding: 4px 0;
        @include breakpoint(medium) {
            font-size: 18px;
        }
        .expences-list-item__icon {
            height: 40px;
            @include breakpoint(medium) { 
                height: 60px;
            }
            span {
                display: inline-block;
                flex: 40px 0 0;
                text-align: center;
                line-height: 40px;
                border-radius: 8px;
                background: $sh-white;
                border: solid 1px $sh-white;
                margin-right: 8px;
                font-size: 16px;
                width: 40px;
                height: 40px;
                @include breakpoint(medium) {
                    flex: 60px 0 0;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    border-radius: 12px;
                    font-size: 24px;
                }
            }
        }
        .expences-list-item-info-item {
            display: flex;
        }
        .expences-list-item-text {
            display: inline-block;
            vertical-align: middle;
        }
        .expences-list-item-text_cat {
            font-weight: $fontWeight-semibold;
            margin-bottom: 8px;
        }
        .expences-list-item__date {
            font-size: 10px;
            color: $sh-white;
            @include breakpoint(medium) {
                font-size: 14px;
            }
        }
    }
    &.incoming {
        .expences-list-item__icon {
            span {
                color: $green;
                border: solid 1px $green;
            }
        }
    }
    &.expence {
        .expences-list-item__icon {
            span {
                color: $red;
                border: solid 1px $red;
            }
        }
    }
    .expences-list-item__sum {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 18px;
        @include breakpoint(medium) {
            font-size: 24px;
        }
        >span {
            margin-right: 10px;
            span {
                color: $sh-white;
            }
        }
        .btn {
            padding: 0;
        }
    }
}

#all-operations {
    .js-edit-expence {
        display: none;
    }    
}